MONGO_URI=mongodb://<user>:<password>@ac-wyo1imo-shard-00-00.zsdqrmf.mongodb.net:27017,ac-wyo1imo-shard-00-01.zsdqrmf.mongodb.net:27017,ac-wyo1imo-shard-00-02.zsdqrmf.mongodb.net:27017/?ssl=true&replicaSet=atlas-ev0je0-shard-0&authSource=admin
PORT=5000