:root {
  --text: #252525;
  --text-h: #242021;
  --bg: #ffffff;
  --border: #eaeaea;

  --sans: "Helvetica Neue", Arial, sans-serif;
  --heading: "Montserrat", "Helvetica Neue", Arial, sans-serif;

  font: 16px/145% var(--sans);
  color-scheme: light;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#root {
  width: 100%;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 700;
  color: var(--text-h);
  margin: 0;
}

p {
  margin: 0;
}
